* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    background-color: #94f8ce;
}

/***********************************************************************/
.header {
    display: grid;
    place-content: center;
}

.header h1 {
    font-size: 35px;
    margin-bottom: auto;
}

/***********************************************************************/
.game-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* horizontally */
    align-items: center;
    /* vertically */
    column-gap: 100px;
    row-gap: 50px;
    margin-top: 20px;
}

/***********************************************************************/
.figure-ctn {
    height: 300px;
}

.figure-part {
    stroke: black;
    stroke-width: 4
}

/***********************************************************************/
.wrong-letters-ctn {
    width: 300px;
    height: 300px;
}

.wrong-letters-ctn span {
    font-size: 30px;
}

/***********************************************************************/
.word {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.letter {
    height: 40px;
    width: 40px;
    font-size: 50px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}

/***********************************************************************/

.pop-up-content {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px
}

.final-msg {
    display: flex;
    align-items: center;
    gap: 10px
}

/***********************************************************************/

.close-btn {
    background-color: rgb(244, 37, 37);
    color: white;
    font-size: large;
    border-radius: 8px;
    border: none;
    padding: 10px 10px;
    margin: 10px 10px;
    cursor: pointer;
    border: 2px solid black;
}

.play-again-btn {
    background-color: rgb(36, 179, 0);
    color: white;
    font-size: large;
    border-radius: 8px;
    border: none;
    padding: 10px 10px;
    margin: 10px 10px;
    cursor: pointer;
    border: 2px solid black;
}

/***********************************************************************/

.notification-ctn {
    border: 2px solid black;
    height: 70px;
    width: 500px;
    background-color: yellow;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}